DATABASE_NAME=strapi
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin
HOST_DATABASE_PORT=5432

# Strapi
DATABASE_CLIENT=postgres
DATABASE_HOST=strapiDB

# Strapi secrets
APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=toBeModified
ADMIN_JWT_SECRET=toBeModified
TRANSFER_TOKEN_SALT=toBeModified
JWT_SECRET=toBeModified

# Frontend section
STRAAPI_READ_API_KEY=your_read_api_key
STRAPI_URL=http://localhost:1337